<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AlbertMage\Sms\Model\Gateway\ResultInterface" type="AlbertMage\Sms\Model\Gateway\Result" />
    <preference for="AlbertMage\Sms\Model\MessageInterface" type="AlbertMage\Sms\Model\Message" />
    <preference for="AlbertMage\Sms\Model\TransportInterface" type="AlbertMage\Sms\Model\Transport" />

    <type name="AlbertMage\Sms\Model\Container\Gateway">
        <arguments>
            <argument name="gateways" xsi:type="array">
                <item name="aliyun" xsi:type="string">AlbertMage\Sms\Model\Gateway\Aliyun</item>
                <item name="yunpian" xsi:type="string">AlbertMage\Sms\Model\Gateway\Yunpian</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="AlbertMage\Notification\Model\Order\OrderCreateNotifier" type="AlbertMage\Notification\Model\Order\Notifier">
        <arguments>
            <argument name="notifiers" xsi:type="array">
                <item name="sms" xsi:type="object">AlbertMage\Sms\Model\Order\Notifier</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AlbertMage\Notification\Model\Order\OrderCancelNotifier" type="AlbertMage\Notification\Model\Order\Notifier">
        <arguments>
            <argument name="notifiers" xsi:type="array">
                <item name="sms" xsi:type="object">AlbertMage\Sms\Model\Order\Notifier</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AlbertMage\Notification\Model\Order\OrderExpireNoticeNotifier" type="AlbertMage\Notification\Model\Order\Notifier">
        <arguments>
            <argument name="notifiers" xsi:type="array">
                <item name="sms" xsi:type="object">AlbertMage\Sms\Model\Order\Notifier</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AlbertMage\Notification\Model\Order\OrderPaymentCatpureNotifier" type="AlbertMage\Notification\Model\Order\Notifier">
        <arguments>
            <argument name="notifiers" xsi:type="array">
                <item name="sms" xsi:type="object">AlbertMage\Sms\Model\Order\Notifier</item>
            </argument>
        </arguments>
    </virtualType>
    

</config>