<?xml version="1.0"?>
<!--
/**
 * Copyright © PHP Digital, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<!--     <event name="sales_model_service_quote_submit_success">
        <observer name="sendQuoteSubmitSuccessSms" instance="AlbertMage\Sms\Observer\Sales\SalesModelServiceQuoteSubmitSuccess"/>
    </event>
    <event name="order_cancel_after">
        <observer name="sendSalesOrderCancelSms" instance="AlbertMage\Sms\Observer\Sales\SalesOrderCancel"/>
    </event>
    <event name="order_expire_notice">
        <observer name="sendOrderExpireSms" instance="AlbertMage\Sms\Observer\Sales\SalesOrderExpireNotice"/>
    </event>
    <event name="sales_order_payment_catpure">
        <observer name="sendPaymentCaptureSms" instance="AlbertMage\Sms\Observer\Sales\SalesOrderPaymentCatpure"/>
    </event> -->
</config>
