<?xml version="1.0"?>
<!--

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="albert_sms" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>SMS</label>
            <tab>albertmage</tab>
            <resource>AlbertMage_Sms::config</resource>
            <group id="setting" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>SMS Configuration and Settings (Aliyun/Yunpian etc)</label>
                <field id="active" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="gateway" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Gateway</label>
                    <source_model>AlbertMage\Sms\Model\Config\Source\Gateway</source_model>
                    <comment>Default: Aliyun</comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <group id="debug" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="120">
                    <label>Send Test Sms</label>
                    <attribute type="expanded">0</attribute>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <field id="phonenumbuer" translate="label comment" type="text" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Phone Number</label>
                        <comment>Phone number to send test sms.</comment>
                        <frontend_class>validate-email</frontend_class>
                    </field>
                    <field id="button" translate="label comment" type="button" sortOrder="42" showInDefault="1" showInWebsite="1" showInStore="1">
                        <frontend_model>AlbertMage\Sms\Block\Adminhtml\System\Config\ValidateConfigButton</frontend_model>
                    </field>
                </group>
            </group>
            <group id="aliyun" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                <label>Aliyun Setting</label>
                <attribute type="expanded">0</attribute>
                <field id="access_key_id" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>AccessKey ID</label>
                    <comment>AccessKey ID</comment>
                </field>
                <field id="access_key_secret" translate="label" type="text" sortOrder="15" showInDefault="2" showInWebsite="1" showInStore="1">
                    <label>AccessKey Secret</label>
                    <comment>AccessKey Secret</comment>
                </field>
                <field id="sign_name" translate="label" type="text" sortOrder="15" showInDefault="3" showInWebsite="1" showInStore="1">
                    <label>Sign name</label>
                    <comment>Sign name</comment>
                </field>
                <group id="templates" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                    <label>SMS Templates</label>
                    <attribute type="expanded">1</attribute>
                    <group id="customer" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                        <label>Customer</label>
                        <attribute type="expanded">0</attribute>
                        <field id="new_account_template" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>New Account Template</label>
                            <comment>New Account Template Id</comment>
                        </field>
                        <field id="new_account_template_preview" translate="comment label" sortOrder="3" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                            <label>Template Preview</label>
                            <comment>New Account Template Preview</comment>
                        </field>
                        <field id="forgot_password_template" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Forgot Password Template</label>
                            <comment>SMS Template Id</comment>
                        </field>
                        <field id="forgot_password_template_preview" translate="comment label" sortOrder="6" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                            <label>Template Preview</label>
                            <comment>Forgot Password Template Preview</comment>
                        </field>
                    </group>
                    <group id="sales" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                        <label>Sales</label>
                        <attribute type="expanded">1</attribute>
                        <!-- New Order Confirmation -->
                        <field id="order_heading" translate="label" sortOrder="1" showInStore="1" showInWebsite="1" showInDefault="1">
                            <label>Order</label>
                            <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                        </field>
                        <field id="new_order_confirmation_template" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>New Order Confirmation Template</label>
                            <comment>New Order Confirmation Template Id</comment>
                        </field>
                        <field id="new_order_confirmation_template_preivew" translate="comment label" sortOrder="4" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                            <label>Template Preview</label>
                            <comment>New Order Confirmation Template</comment>
                        </field>
                    </group>
                </group>
            </group>
            <group id="yunpian" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="101">
                <label>Yuanpian Setting</label>
                <attribute type="expanded">0</attribute>
                <field id="api_key" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Api Key</label>
                    <comment>Api Key</comment>
                </field>
                <group id="templates" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                    <label>SMS Templates</label>
                    <attribute type="expanded">1</attribute>
                    <group id="customer" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                        <label>Customer</label>
                        <attribute type="expanded">0</attribute>
                        <field id="new_account_template" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>New Account Template</label>
                            <comment>New Account Template Id</comment>
                        </field>
                        <field id="new_account_template_preview" translate="comment label" sortOrder="3" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                            <label>Template Preview</label>
                            <comment>New Account Template Preview</comment>
                        </field>
                        <field id="forgot_password_template" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Forgot Password Template</label>
                            <comment>SMS Template Id</comment>
                        </field>
                        <field id="forgot_password_template_preview" translate="comment label" sortOrder="6" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                            <label>Template Preview</label>
                            <comment>Forgot Password Template Preview</comment>
                        </field>
                    </group>
                    <group id="sales" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                        <label>Sales</label>
                        <attribute type="expanded">1</attribute>
                        <!-- New Order Confirmation -->
                        <field id="order_heading" translate="label" sortOrder="1" showInStore="1" showInWebsite="1" showInDefault="1">
                            <label>Order</label>
                            <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                        </field>
                        <field id="new_order_confirmation_template" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>New Order Confirmation Template</label>
                            <comment>New Order Confirmation Template Id</comment>
                        </field>
                        <field id="new_order_confirmation_template_preivew" translate="comment label" sortOrder="4" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                            <label>Template Preview</label>
                            <comment>New Order Confirmation Template</comment>
                        </field>
                    </group>
                </group>
            </group>
        </section>


        <section id="albert_sales_sms" translate="label" type="text" sortOrder="301" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Sales Sms</label>
            <tab>sales</tab>
            <resource>AlbertMage_Sms::config</resource>
            <group id="general" type="text" sortOrder="0" showInDefault="1">
                <label>General Settings</label>
                <field id="async_sending" translate="label" type="select" sortOrder="1" showInDefault="1" canRestore="1">
                    <label>Asynchronous sending</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="sending_limit" translate="label" type="text" sortOrder="2" showInDefault="1" canRestore="1">
                    <label>Limit per cron run</label>
                    <comment>Limit how many entities (orders/shipments/etc) will be processed during one cron run.</comment>
                    <validate>required-number validate-number validate-greater-than-zero</validate>
                    <depends>
                        <field id="async_sending">1</field>
                    </depends>
                </field>
            </group>
            <group id="setting" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Setting</label>
                <field id="order_heading" translate="label" sortOrder="1" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Order</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="new_order_confirmation_enabled" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>New Order Confirmation Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="order_update_enabled" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Order Update Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="invoice_heading" translate="label" sortOrder="4" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Invoice</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="new_invoice_enabled" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>New Invoice Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="shipment_heading" translate="label" sortOrder="6" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Shipment</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="new_shipment_enabled" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>New Shipment Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="update_shipment_enabled" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Update Shipment Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="creditmemo_heading" translate="label" sortOrder="9" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Credit Memo</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="new_creditmemo_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>New Credit Memo Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
