<?xml version="1.0"?>
<!--

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="albert_sms" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>SMS</label>
            <tab>albertmage</tab>
            <resource>AlbertMage_Sms::config</resource>
            <group id="setting" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>SMS Configuration and Settings (Aliyun/Yunpian etc)</label>
                <field id="active" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="gateway" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Gateway</label>
                    <source_model>AlbertMage\Sms\Model\Config\Source\Gateway</source_model>
                    <comment>Default: Aliyun</comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <group id="debug" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="120">
                    <label>Send Test Sms</label>
                    <attribute type="expanded">0</attribute>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <field id="phonenumbuer" translate="label comment" type="text" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Phone Number</label>
                        <comment>Phone number to send test sms.</comment>
                        <frontend_class>validate-email</frontend_class>
                    </field>
                    <field id="button" translate="label comment" type="button" sortOrder="42" showInDefault="1" showInWebsite="1" showInStore="1">
                        <frontend_model>AlbertMage\Sms\Block\Adminhtml\System\Config\ValidateConfigButton</frontend_model>
                    </field>
                </group>
            </group>
            <group id="aliyun" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                <label>Aliyun Setting</label>
                <attribute type="expanded">0</attribute>
                <field id="config_access_key_id" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>AccessKey ID</label>
                    <comment>AccessKey ID</comment>
                </field>
                <field id="config_access_key_secret" translate="label" type="text" sortOrder="15" showInDefault="2" showInWebsite="1" showInStore="1">
                    <label>AccessKey Secret</label>
                    <comment>AccessKey Secret</comment>
                </field>
                <field id="config_sign_name" translate="label" type="text" sortOrder="15" showInDefault="3" showInWebsite="1" showInStore="1">
                    <label>Sign name</label>
                    <comment>Sign name</comment>
                </field>
                <group id="customer" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                    <label>Customer</label>
                    <attribute type="expanded">0</attribute>
                    <!-- Verify Code -->
                    <field id="verify_code_heading" translate="label" sortOrder="1" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>Verify Code</label>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    </field>
                    <field id="verify_code_enabled" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Notification Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="verify_code_template" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Template ID</label>
                        <comment>Verify Code Template Id</comment>
                    </field>
                    <field id="verify_code_template_preview" translate="comment label" sortOrder="4" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>Template Preview</label>
                        <comment>Verify Code Template Preview</comment>
                    </field>
                    <!-- New Account -->
                    <field id="new_account_heading" translate="label" sortOrder="11" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>New Account</label>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    </field>
                    <field id="new_account_enabled" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Notification Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="new_account_template" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Template ID</label>
                        <comment>New Account Template Id</comment>
                    </field>
                    <field id="new_account_template_preview" translate="comment label" sortOrder="14" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>Template Preview</label>
                        <comment>New Account Template Preview</comment>
                    </field>
                    <!-- Forgot Password -->
                    <field id="forgot_password_heading" translate="label" sortOrder="21" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>Forgot Password</label>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    </field>
                    <field id="forgot_password_enabled" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Notification Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="forgot_password_template" translate="label" type="text" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Template Id</label>
                        <comment>SMS Template Id</comment>
                    </field>
                    <field id="forgot_password_template_preview" translate="comment label" sortOrder="24" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>Template Preview</label>
                        <comment>Forgot Password Template Preview</comment>
                    </field>
                </group>
                <group id="order" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                    <label>Order</label>
                    <attribute type="expanded">1</attribute>
                    <!-- New Order -->
                    <field id="order_create_heading" translate="label" sortOrder="1" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>New Order</label>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    </field>
                    <field id="order_create_enabled" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Notification Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="order_create_template" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Template Id</label>
                        <comment>New Order Template Id</comment>
                    </field>
                    <field id="order_create_template_preivew" translate="comment label" sortOrder="4" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>Template Preview</label>
                        <comment>New Order Template Preview</comment>
                    </field>
                    <!-- Order Expire Notice -->
                    <field id="order_expire_notice_heading" translate="label" sortOrder="11" showInStore="5" showInWebsite="1" showInDefault="1">
                        <label>Order Expire Notice</label>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    </field>
                    <field id="order_expire_notice_enabled" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Notification Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="order_expire_notice_template" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Template Id</label>
                        <comment>Order Expire Notice Template Id</comment>
                    </field>
                    <field id="order_expire_notice_template_preivew" translate="comment label" sortOrder="14" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>Template Preview</label>
                        <comment>Order Expire Notice Template Preview</comment>
                    </field>
                    <!-- Order Cancel -->
                    <field id="order_cancel_heading" translate="label" sortOrder="21" showInStore="9" showInWebsite="1" showInDefault="1">
                        <label>Order Cancel</label>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    </field>
                    <field id="order_cancel_enabled" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Notification Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="order_cancel_template" translate="label" type="text" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Template Id</label>
                        <comment>Order Cancel Template Id</comment>
                    </field>
                    <field id="order_cancel_template_preivew" translate="comment label" sortOrder="24" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>Template Preview</label>
                        <comment>Order Cancel Template Preview</comment>
                    </field>
                </group>
            </group>
            <group id="yunpian" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="101">
                <label>Yuanpian Setting</label>
                <attribute type="expanded">0</attribute>
                <field id="api_key" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Api Key</label>
                    <comment>Api Key</comment>
                </field>

                <group id="customer" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                    <label>Customer</label>
                    <attribute type="expanded">0</attribute>
                    <!-- Verify Code -->
                    <field id="verify_code_heading" translate="label" sortOrder="1" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>Verify Code</label>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    </field>
                    <field id="verify_code_enabled" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Notification Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="verify_code_template" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Template ID</label>
                        <comment>Verify Code Template Id</comment>
                    </field>
                    <field id="verify_code_template_preview" translate="comment label" sortOrder="4" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>Template Preview</label>
                        <comment>Verify Code Template Preview</comment>
                    </field>
                    <!-- New Account -->
                    <field id="new_account_heading" translate="label" sortOrder="11" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>New Account</label>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    </field>
                    <field id="new_account_enabled" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Notification Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="new_account_template" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Template ID</label>
                        <comment>New Account Template Id</comment>
                    </field>
                    <field id="new_account_template_preview" translate="comment label" sortOrder="14" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>Template Preview</label>
                        <comment>New Account Template Preview</comment>
                    </field>
                    <!-- Forgot Password -->
                    <field id="forgot_password_heading" translate="label" sortOrder="21" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>Forgot Password</label>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    </field>
                    <field id="forgot_password_enabled" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Notification Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="forgot_password_template" translate="label" type="text" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Template Id</label>
                        <comment>SMS Template Id</comment>
                    </field>
                    <field id="forgot_password_template_preview" translate="comment label" sortOrder="24" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>Template Preview</label>
                        <comment>Forgot Password Template Preview</comment>
                    </field>
                </group>
                <group id="order" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                    <label>Order</label>
                    <attribute type="expanded">1</attribute>
                    <!-- New Order -->
                    <field id="order_create_heading" translate="label" sortOrder="1" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>New Order</label>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    </field>
                    <field id="order_create_enabled" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Notification Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="order_create_template" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Template Id</label>
                        <comment>New Order Template Id</comment>
                    </field>
                    <field id="order_create_template_preivew" translate="comment label" sortOrder="4" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>Template Preview</label>
                        <comment>New Order Template Preview</comment>
                    </field>
                    <!-- Order Expire Notice -->
                    <field id="order_expire_notice_heading" translate="label" sortOrder="11" showInStore="5" showInWebsite="1" showInDefault="1">
                        <label>Order Expire Notice</label>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    </field>
                    <field id="order_expire_notice_enabled" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Notification Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="order_expire_notice_template" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Template Id</label>
                        <comment>Order Expire Notice Template Id</comment>
                    </field>
                    <field id="order_expire_notice_template_preivew" translate="comment label" sortOrder="14" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>Template Preview</label>
                        <comment>Order Expire Notice Template Preview</comment>
                    </field>
                    <!-- Order Cancel -->
                    <field id="order_cancel_heading" translate="label" sortOrder="21" showInStore="9" showInWebsite="1" showInDefault="1">
                        <label>Order Cancel</label>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    </field>
                    <field id="order_cancel_enabled" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Notification Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="order_cancel_template" translate="label" type="text" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Template Id</label>
                        <comment>Order Cancel Template Id</comment>
                    </field>
                    <field id="order_cancel_template_preivew" translate="comment label" sortOrder="24" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                        <label>Template Preview</label>
                        <comment>Order Cancel Template Preview</comment>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
