<?xml version="1.0"?>
<!--

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="albert_sms" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>SMS</label>
            <tab>albertmage</tab>
            <resource>AlbertMage_Sms::config</resource>
            <group id="setting" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>SMS Configuration and Settings (Yunpian/Aliyun etc)</label>
                <field id="active" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="gateway" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Gateway</label>
                    <source_model>AlbertMage\Sms\Model\Config\Source\Gateway</source_model>
                    <comment>Default: Yunpian</comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <group id="debug" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="120">
                    <label>Send Test Sms</label>
                    <attribute type="expanded">0</attribute>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <field id="phonenumbuer" translate="label comment" type="text" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Phone Number</label>
                        <comment>Phone number to send test sms.</comment>
                        <frontend_class>validate-email</frontend_class>
                    </field>
                    <field id="button" translate="label comment" type="button" sortOrder="42" showInDefault="1" showInWebsite="1" showInStore="1">
                        <frontend_model>AlbertMage\Sms\Block\Adminhtml\System\Config\ValidateConfigButton</frontend_model>
                    </field>
                </group>
            </group>
            <group id="yunpian" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                <label>Yuanpian Setting</label>
                <attribute type="expanded">0</attribute>
                <field id="api_key" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Api Key</label>
                    <comment>Api Key</comment>
                </field>
                <group id="templates" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                    <label>SMS Templates</label>
                    <attribute type="expanded">1</attribute>
                    <group id="order" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                        <label>Order</label>
                        <attribute type="expanded">0</attribute>
                        <!-- New Order Confirmation -->
                        <field id="new_order_confirmation_heading" translate="label" sortOrder="1" showInStore="1" showInWebsite="1" showInDefault="1">
                            <label>New Order Confirmation</label>
                            <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                        </field>
                        <field id="new_order_confirmation_enabled" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="new_order_confirmation_template_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Template Id</label>
                            <comment>SMS Template Id</comment>
                        </field>
                        <field id="new_order_confirmation_message" translate="comment label" sortOrder="4" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                            <label>Message Preview</label>
                            <comment>SMS Message Preview</comment>
                        </field>
                    </group>
                </group>
            </group>
            <group id="aliyun" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                <label>Aliyun Setting</label>
                <attribute type="expanded">0</attribute>
                <field id="access_key_id" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>AccessKey ID</label>
                    <comment>AccessKey ID</comment>
                </field>
                <field id="access_key_secret" translate="label" type="text" sortOrder="15" showInDefault="2" showInWebsite="1" showInStore="1">
                    <label>AccessKey Secret</label>
                    <comment>AccessKey Secret</comment>
                </field>
                <field id="sign_name" translate="label" type="text" sortOrder="15" showInDefault="3" showInWebsite="1" showInStore="1">
                    <label>Sign name</label>
                    <comment>Sign name</comment>
                </field>
                <group id="templates" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                    <label>SMS Templates</label>
                    <attribute type="expanded">1</attribute>
                    <group id="order" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                        <label>Order</label>
                        <attribute type="expanded">0</attribute>
                        <!-- New Order Confirmation -->
                        <field id="new_order_confirmation_heading" translate="label" sortOrder="1" showInStore="1" showInWebsite="1" showInDefault="1">
                            <label>New Order Confirmation</label>
                            <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                        </field>
                        <field id="new_order_confirmation_enabled" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="new_order_confirmation_template_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Template Id</label>
                            <comment>SMS Template Id</comment>
                        </field>
                        <field id="new_order_confirmation_message" translate="comment label" sortOrder="4" type="textarea" showInStore="1" showInWebsite="1" showInDefault="1">
                            <label>Message Preview</label>
                            <comment>SMS Message Preview</comment>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
